.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0f0f0f, #1e1e1e);
}

.auth-box {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid #e5091466;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.auth-box h2 {
  color: #E50914;
  margin-bottom: 1rem;
}

.auth-box input,
.auth-box select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
}

.auth-box input:focus,
.auth-box select:focus {
  outline: 2px solid #E50914;
}

.auth-box button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #E50914;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #b20710;
}

.auth-box p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-box a {
  color: #E50914;
  text-decoration: none;
}
